<div class="m-5">
    <p class="mx-5">{{paragraph}}</p>
<div class="row">
    {{#each buttons}}
    

    <a href="{{url}}" type="button" class="btn btn-primary col-2 m-3">{{text}}</a>
    
    {{/each}}
    </div>
</div>